%h2 Welcome to the Scoring Engine!
%hr
%p Please log in to continue
.center
  = image_tag "cyber_security.jpg", alt: 'http://cdn.meme.am/instances/57338354.jpg (Photo Find Credit: Kyle Walter)', width: 400
