= show_header 'Flag Category Details', @flag_category, parent_object: @event
.row
  .col-xs-6
    %p
      %b Event:
      = @flag_category.event
    %p
      %b Name:
      = @flag_category.name

= link_to (text_icon(:chevron_circle_left)+'Event'), @flag_category.event, class: 'btn btn-primary' if can?(:manage, Event)