= form_for(User.new, as: :user, url: session_path(:user)) do |f|
  .form-group
    = f.text_field :username, placeholder: 'Username', autofocus: true, class: "form-control"
  .form-group
    = f.password_field :password, placeholder: 'Password', autocomplete: "off", class: "form-control"
  = f.submit "Log in", class: 'btn btn-success'
