@font-face {
  font-family: 'batman';
  src:url(batman.ttf);
  font-weight: normal;
  font-style: normal;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

body {
  margin-top: 70px !important;
}

// h1, h2, h3, h4, h5, h6 {
//   font-family: 'batman' !important;
//   padding-top: 10px;
// }

#header {
  background-color: #4a4d50;
  border-radius: 0px 0px 5px 5px;
  color: white;
  height: 80px;
  line-height: 80px;
  p {
    display: inline;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

#content {
  margin-top: 20px;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}
.warning {
  background-color: #ea9d3e;
}
.secondary, .success {
  background-color: #4dae4a;
}
.danger {
  background-color: #ce3c3e;
}

.service {
  padding: 10px;
  border-bottom: white 1px solid;
  border-radius: 4px;
  &.up {
    background-color: #5cb85c;
    color: white;
  }
  &.down {
    background-color: #d9534f;
    color: white;
  }
}

.red {
  color: #ca3838;
}
.green {
  color: green;
}


.modal {
  color: #4a4d50
}

// vertical align login modal
.modal {
  .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
  }
  .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
  }
  .modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
  }
}

.field_with_errors {
  .form-control {
    border-color: #d43f3a !important;
  }
}

.form-actions {
  position: fixed;
  top: 125px;
  right: 0px;
  width: 75px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  .btn {
    width: 100%;
  }
}

span.description {
  font-style: italic;
}

tr.total {
  background-color: #eee;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

label.btn.multiple-choice {
  width: 250px;
  text-align: left;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 4px !important;
}

.tooltip-inner {
  white-space:pre-wrap;
}
