= header "List of Guides", Guide, icon: :question_circle

%table.table.table-striped
  %thead
    %tr
      %th Guide
      %th
  %tbody
    - @guides.each do |guide|
      %tr
        %td= link_to guide.file_file_name, download_guide_path(guide), data: { turbolinks: false }
        %td.right= object_actions guide
