.row
  .col-sm-7
    .btn-group{"data-toggle" => "buttons"}
      %label.btn.btn-default
        = radio_button_tag 'answer', true, false
        True
      %label.btn.btn-default
        = radio_button_tag 'answer', false, false
        False
  .col-sm-5.right
    = submit_tag 'Submit', class: 'btn btn-success full'
